body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #121212;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.nav-item:hover {
    color: #f21414;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-background img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.hero-content {
    color:white;
    position: absolute;
    top: 50%;
    left: 1150px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-content h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.hero-content button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: rgb(24, 22, 22);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4500;
}

.menu {
    color: #fff;
    background-color: black;
    padding: 2em;
    text-align: center;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    background-color: grey;
    margin: 25px;
    padding: 2em;

    box-shadow: 0 2px 5px rgba(239, 238, 238, 0.1);
    width: 210px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.contact {
    height: 400px;;
    padding: 10em;
    background-color:black;
    color: #fff;
    text-align: center;
}

.contact form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input, .contact textarea {
    padding: 10px;
    margin: 10px;
    width: 300px;
    max-width: 100%;
    border: none;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #ff4500;
}